@{
    Layout = "_Layout";
    ViewData["Title"] = "Admin";
}

<style>
    #bg {
        background-image: url('../..//assets/images/bg/bgr.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
</style>
<div class="layout-specing" id="bg" style="background-image: url('../..//assets/images/bg/bgr.jpg') ; width : 100%" >
    
</div>
