@model Doctris.Models.Setting

@{
    Layout = "_Layout";
    ViewData["Title"] = "Create setting";
}



<div class="layout-specing">
    <div class="d-md-flex justify-content-between">
        <div>
            <h5 class="mb-0">Create Settings</h5>
        </div>

        <nav aria-label="breadcrumb" class="d-inline-block mt-4 mt-sm-0">
            <ul class="breadcrumb bg-transparent rounded mb-0 p-0">
                <li class="breadcrumb-item"><a href="#">Setting List</a></li>
                <li class="breadcrumb-item active" aria-current="page">Create settings </li>
            </ul>
        </nav>
    </div>
    <div class="modal-body p-3 pt-4">
        <form class="mt-4" asp-asp-controller="Settings" asp-action="Create" method="post">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label" style="font-weight: bold;">Setting ID</label>
                        <input type="text" asp-for="SettingId" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label" style="font-weight: bold;">Setting Type <span class="text-danger">*</span></label>
                        <input asp-for="SettingType" type="text" class="form-control" required="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label" style="font-weight: bold;">Setting Name<span class="text-danger">*</span></label>
                        <input asp-for="SettingName" type="text" class="form-control" list="list"  required="">

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mb-3">
                        <label class="form-label" style="font-weight: bold;">Description</label>
                        <textarea asp-for="SettingDescription" rows="4" class="form-control" placeholder="Description :" required=""> </textarea>
                    </div>
                </div>
            </div><!--end row-->
            <div class="row">
                <div class="col-sm-12">
                    <input type="submit" class="btn btn-primary" value="Create">
                </div><!--end col-->
            </div><!--end row-->
        </form><!--end form-->
    </div>
</div>

@*<h4>Setting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SettingId" class="control-label"></label>
                <input asp-for="SettingId" class="form-control" />
                <span asp-validation-for="SettingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SettingType" class="control-label"></label>
                <input asp-for="SettingType" class="form-control" />
                <span asp-validation-for="SettingType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SettingName" class="control-label"></label>
                <input asp-for="SettingName" class="form-control" />
                <span asp-validation-for="SettingName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SettingDescription" class="control-label"></label>
                <input asp-for="SettingDescription" class="form-control" />
                <span asp-validation-for="SettingDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@
